header {
  background-color: blanchedalmond ;
  padding: 10px ;
  border: thick solid black ;
}

h1 {
  text-decoration: underline ;
  background-color: transparent;
}

.heading {
  margin:4px ;
}
.publishDate {
  margin-bottom:0px ;
}

h2 {
  margin-top:0;
}

q {
  font-style:italic ;
  font-weight:bold ;
}

footer {
  background-color: #999 ;
}

.footerContent {
  margin:0px ;
  text-align:center ;
}